# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

STORAGE_KEY_ID=
STORAGE_KEY_SECRET=
STORAGE_ENPOINT=
STORAGE_BUCKET=


# Opción 1: Simular Éxito (Siempre pasa el reto)
# VITE_CF_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
# CF_TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"

# Opción 2: Simular Fallo (Siempre rechaza el reto)
# VITE_CF_TURNSTILE_SITE_KEY="2x00000000000000000000AB"
# CF_TURNSTILE_SECRET_KEY="2x0000000000000000000000000000000AB"

# Opción 3: Forzar Interactivo (Siempre muestra el widget visual)
# VITE_CF_TURNSTILE_SITE_KEY="3x00000000000000000000FF"
# CF_TURNSTILE_SECRET_KEY="3x0000000000000000000000000000000FF"