# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

STORAGE_KEY_ID=
STORAGE_KEY_SECRET=
STORAGE_ENPOINT=
STORAGE_BUCKET=
