---
import "@/styles/global.css";

import Head from "../components/head.astro";

interface Props {
  title: string;
  description?: string;
  turnstile?: boolean;
}

const { title, description } = Astro.props;
---

<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Head title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
